<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Layout - CSS3</title>
	<link href="css/style.css" rel="stylesheet">
	<style>
		
	</style>
</head>
	<body>
		<!-- Cabeçalho do Site -->
		<header>
			<img src="images/logo_fundacao.png" class="logo">
			<nav class="menu">
				<ul>
					<li class="active">Home</li>
					<li>A fundação</li>
					<li>Projetos</li>
					<li>Saúde e Prevenção</li>
					<li>Participe</li>
					<li>Notícias</li>
					<li>Fale conosco</li>					
				</ul>
			</nav>
		</header>

		<!-- Conteúdo do Site -->
		<div class="container">
			
		</div>		

		<!-- Rodapé do Site -->
		<footer>
			<div class="info">
				
			</div>
			<div class="copyright">
				<span>
					Copyright &copy; 2020 - Jose Thome Busineess & Technology
				</span>
				<img src="images/logo_rodape.png" alt="">
			</div>			
		</footer>
	</body>
</html>